<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header.ejs") %>
  </head>

  <body>
    <%- include("partials/nav.ejs") %>

    <h2><%=planet_name%></h2>

    <%=planetInfo.description%>
    <br />

    <div id="container">
      <img src="<%=planetInfo.image%>" width="300" />
      <div id="container2">
      <span>Distance from the Sun: </span>
      <span><%=planetInfo.distanceFromSun%></span><br><br>

      <span>Year Length: </span>
      <span><%=planetInfo.yearLength%></span><br><br>

      <span>Radius: </div>
      <span><%=planetInfo.radius%></span><br><br>

      <span>One Earth Day on <%=planet_name%> is: </span> <span><%=planetInfo.oneEarthDay%></span><br><br>
      

      <span><%=planet_name%> has this many moons: </span> <span><%=planetInfo.moons%></span><br><br>
      
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
